:root{

--primary:#D62828;
--secondary:#F94144;

--dark:#1F2937;

--light:#FFF7F7;

--white:#ffffff;

--gray:#6B7280;

--border:#F3D6D6;

--success:#22C55E;

--shadow:0 8px 30px rgba(0,0,0,.08);

--radius:18px;

}