.hospital-section{

padding:100px 0;

background:white;

}

.hospital-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:60px;

}

.hospital-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.35s;

}

.hospital-card:hover{

transform:translateY(-10px);

box-shadow:0 20px 45px rgba(214,40,40,.18);

}

.hospital-card img{

width:100%;

height:240px;

object-fit:cover;

}

.hospital-content{

padding:25px;

}

.rating{

display:flex;

align-items:center;

gap:8px;

color:#FFC107;

margin-bottom:15px;

}

.hospital-content h3{

margin-bottom:15px;

font-size:24px;

}

.hospital-content p{

display:flex;

gap:10px;

align-items:center;

margin-bottom:12px;

color:#666;

}

.hospital-content button{

margin-top:20px;

width:100%;

height:50px;

background:#D62828;

color:white;

border:none;

border-radius:10px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.hospital-content button:hover{

background:#B71C1C;

}

@media(max-width:992px){

.hospital-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.hospital-grid{

grid-template-columns:1fr;

}

}