.stats{

padding:90px 0;

background:#FFF7F7;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.stat-card{

background:white;

padding:40px 20px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.4s;

}

.stat-card:hover{

transform:translateY(-10px);

}

.stat-icon{

width:80px;

height:80px;

margin:auto;

border-radius:50%;

background:#FEE2E2;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

color:#D62828;

margin-bottom:25px;

}

.stat-card h2{

font-size:42px;

color:#D62828;

margin-bottom:10px;

font-weight:700;

}

.stat-card p{

font-size:18px;

font-weight:500;

color:#555;

}

@media(max-width:992px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:576px){

.stats-grid{

grid-template-columns:1fr;

}

}