.camp-section{

padding:100px 0;

background:#ffffff;

}

.camp-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:60px;

}

.camp-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 12px 30px rgba(0,0,0,.08);

transition:.35s;

}

.camp-card:hover{

transform:translateY(-10px);

box-shadow:0 20px 45px rgba(214,40,40,.18);

}

.camp-image{

position:relative;

}

.camp-image img{

width:100%;

height:230px;

object-fit:cover;

}

.camp-badge{

position:absolute;

top:15px;

left:15px;

background:#D62828;

color:white;

padding:8px 18px;

border-radius:30px;

font-size:14px;

font-weight:600;

}

.camp-content{

padding:25px;

}

.camp-content h3{

font-size:24px;

margin-bottom:20px;

}

.camp-content p{

display:flex;

align-items:center;

gap:10px;

margin-bottom:12px;

color:#666;

}

.camp-organizer{

margin:20px 0;

padding:15px;

background:#FEE2E2;

border-radius:10px;

display:flex;

justify-content:space-between;

}

.camp-organizer strong{

color:#D62828;

}

.camp-content button{

width:100%;

height:52px;

background:#D62828;

color:white;

border:none;

border-radius:10px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.camp-content button:hover{

background:#B91C1C;

}

@media(max-width:992px){

.camp-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.camp-grid{

grid-template-columns:1fr;

}

}