.auth-layout{

display:flex;

min-height:100vh;

}

.auth-left{

flex:1;

background:#D62828;

color:white;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

padding:60px;

}

.auth-left h1{

font-size:50px;

margin-bottom:20px;

}

.auth-left p{

font-size:20px;

line-height:1.7;

text-align:center;

}

.auth-right{

flex:1;

display:flex;

justify-content:center;

align-items:center;

background:#F8FAFC;

padding:50px;

}

@media(max-width:768px){

.auth-layout{

flex-direction:column;

}

.auth-left{

padding:40px;

}

}