:root{

--pink:#dd1cad;

--black:#11020d;

--dark-purple:#440935;

--purple:#770f5d;

--magenta:#aa1685;

}





.contact-page{


min-height:100vh;

background:

linear-gradient(
135deg,
#fff,
#f8d9f0
);


padding:40px;


}




.contact-container{


max-width:1200px;

margin:auto;


}






.contact-header{


background:

linear-gradient(
135deg,
var(--dark-purple),
var(--pink)
);


padding:50px;


border-radius:30px;


color:white;


text-align:center;


box-shadow:

0 20px 50px
rgba(221,28,173,.3);


}





.contact-header h1{


font-size:42px;


}




.contact-header p{


font-size:18px;


line-height:1.6;


}







.contact-grid{


margin-top:40px;


display:grid;


grid-template-columns:

repeat(
auto-fit,
minmax(280px,1fr)
);


gap:25px;


}





.contact-card{


background:white;


padding:30px;


border-radius:25px;


text-align:center;


border:

2px solid #f0b5df;


transition:.3s;


}





.contact-card:hover{


transform:

translateY(-10px);


box-shadow:

0 20px 40px
rgba(170,22,133,.25);


}






.contact-icon{


font-size:45px;


background:

#fbe4f5;


height:80px;


width:80px;


display:flex;


align-items:center;


justify-content:center;


border-radius:50%;


margin:auto;


}





.contact-card h2{


color:

var(--purple);


}



.contact-card h3{


color:

var(--pink);


font-size:18px;


}



.contact-card p{


color:#555;


line-height:1.6;


}







.emergency-card{


margin-top:40px;


background:

linear-gradient(
135deg,
var(--black),
var(--purple)
);


color:white;


padding:40px;


border-radius:30px;


text-align:center;


}





.emergency-card h2{


font-size:30px;


}





.emergency-card p{


line-height:1.7;


font-size:17px;


}





.emergency-card button{


margin-top:20px;


padding:15px 30px;


border:none;


border-radius:15px;


background:

var(--pink);


color:white;


font-weight:bold;


cursor:pointer;


}





.emergency-card button:hover{


background:

var(--magenta);


}





@media(max-width:600px){


.contact-page{

padding:15px;

}



.contact-header h1{

font-size:30px;

}



}